.display-flex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 20px;



}

.front-profile {
    padding: 15px;
    border: 2px solid darkcyan;
    margin-right: 50px;

}

.banner-card {
    padding: 20px;

}

.flex-container {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: relative;
    width: 1069px;
    height: 305px;
}